<aside class="w-full md:w-64 shrink-0 border-r border-primary/10 p-6 space-y-8">
    <div>
        <h3 class="text-sm font-bold uppercase tracking-wider text-primary/60 mb-4">Categorías</h3>
        <nav class="space-y-1">
            @for (cat of categories(); track cat) {
            <button (click)="categoryChange.emit(cat)"
                [class]="currentCategory() === cat ? 'bg-primary/10  text-primary' : ' text-slate-600 dark:text-slate-400 hover:bg-primary/5 transition-colors'"
                class="flex w-full items-center gap-3 rounded-lg px-3 py-2 text-sm transition-all font-medium">
                <span class="material-symbols-outlined">{{ cat | categoryIcon }}</span>
                {{ cat }}
            </button>
            }

        </nav>
    </div>
    <!--<div>
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-sm font-bold uppercase tracking-wider text-primary/60">Proximidad</h3>
            <span class="text-xs font-bold text-primary">15 km</span>
        </div>
        <input class="w-full accent-primary h-1.5 bg-primary/10 rounded-lg appearance-none cursor-pointer"
            type="range" />
        <div class="flex justify-between mt-2 text-[10px] text-slate-400 font-medium">
            <span>1km</span>
            <span>50km+</span>
        </div>
    </div>-->
    <div class="pt-4">
        <div class="rounded-xl bg-primary/5 p-4 border border-primary/10">
            <p class="text-xs text-primary leading-relaxed">Cada objeto regalado es un paso hacia un futuro más
                sostenible. ¡Gracias por participar!</p>
        </div>
    </div>
</aside>