<div
    class="flex flex-col sm:flex-row gap-4 p-4 border border-slate-100 dark:border-slate-800 rounded-xl hover:bg-slate-50 dark:hover:bg-slate-800/50 transition-colors group">
    <div class="w-full sm:w-32 h-24 bg-cover bg-center rounded-lg flex-shrink-0 shadow-sm"
        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBpMJvAVQ43ZNC1lxtWbU-ZTFf39pijdh-7iHNx6053atjtsRsZUrLUwHqUtJ6HxUxKvqfIRPPn_vwcrv3nbgK4d3vwA0yQJJSzybffbyzzJHIoKGmVzMtOGpION3Y3f_z66XR4EBYDrvuNS95qyyegehjsxyBTAeSf-d84JE_tZKt3URaMBaLXaiiEh0OqCcvRH8KHJk_hOBvs6l-yqG562zdVQfJT6U1ULYavgRx2d_YdRqSmhjCxHPy3SumyA-1Jkc9nArWsVS0");'>
    </div>
    <div class="flex-1 flex flex-col justify-between">
        <div class="flex justify-between items-start">
            <div>
                <h4 class="font-bold text-slate-900 dark:text-white">{{ product().name }}</h4>
                <p class="text-xs text-slate-500 mt-1">{{ product().description }}</p>
            </div>

            <button
             [class]="product().status.name | statusColor"
                class="flex items-center gap-1 text-[10px] font-bold px-2 py-1 
                rounded border transition-colors cursor-pointer uppercase">
                 {{ product().status.name }} <span class="material-symbols-outlined text-[12px]">expand_more</span>
            </button>
            <div
                class="absolute right-0 top-full mt-1 w-48 bg-white dark:bg-slate-800 rounded-lg shadow-xl border border-emerald-100 dark:border-emerald-900/30 py-1 z-20 animate-in fade-in slide-in-from-top-2 duration-200">
                <button
                    class="w-full text-left px-4 py-2 text-xs font-medium text-slate-700 dark:text-slate-200 hover:bg-emerald-50 dark:hover:bg-emerald-900/20 hover:text-emerald-700 transition-colors flex items-center gap-2">
                    <span class="size-2 rounded-full bg-amber-400"></span>
                    Marcar como Reservado
                </button>
                <button
                    class="w-full text-left px-4 py-2 text-xs font-medium text-slate-700 dark:text-slate-200 hover:bg-emerald-50 dark:hover:bg-emerald-900/20 hover:text-emerald-700 transition-colors flex items-center gap-2">
                    <span class="size-2 rounded-full bg-slate-300"></span>
                    Marcar como Entregado
                </button>
            </div>
        </div>
        <div class="flex items-center gap-4 mt-3">
            <button [routerLink]="['/manage/edit', product().id]" 
                class="flex items-center gap-1 text-[11px] font-bold text-slate-400 hover:text-primary transition-colors">
                <span class="material-symbols-outlined text-[16px]">edit</span> EDITAR
            </button>
            <button (click)="onDeleteClick()" 
                class="flex items-center gap-1 text-[11px] font-bold text-slate-400 hover:text-red-500 transition-colors">
                <span class="material-symbols-outlined text-[16px]">delete</span> BORRAR
            </button>
            <span class="text-[10px] text-slate-400 ml-auto">Publicado: Hace 2 días</span>
        </div>
    </div>
</div>
