<div
    class="flex flex-col sm:flex-row gap-4 p-4 border border-slate-100 dark:border-slate-800 rounded-xl hover:bg-slate-50 dark:hover:bg-slate-800/50 transition-colors group">
    <div class="w-full sm:w-32 h-24 bg-cover bg-center rounded-lg flex-shrink-0 shadow-sm"
         [style.background-image]="'url(' + (product().image || '/placeholder.jpg') + ')'"
        >
    </div>
    <div class="flex-1 flex flex-col justify-between">
        <div class="flex justify-between items-start">
            <div>
                <h4 class="font-bold text-slate-900 dark:text-white">{{ product().name }}</h4>
                <p class="text-xs text-slate-500 mt-1">{{ product().description }}</p>
            </div>

            <button
             [class]="product().status.name | statusColor"
                class="flex items-center gap-1 text-[10px] font-bold px-2 py-1 
                rounded border transition-colors cursor-pointer uppercase">
                 {{ product().status.name }} <!--<span class="material-symbols-outlined text-[12px]">expand_more</span>-->
            </button>

        </div>
        <div class="flex items-center gap-4 mt-3">
            <button [routerLink]="['/manage/edit', product().id]" 
                class="flex items-center gap-1 text-[11px] font-bold text-slate-400 hover:text-primary transition-colors">
                <span class="material-symbols-outlined text-[16px]">edit</span> EDITAR
            </button>
            <button (click)="onDeleteClick()" 
                class="flex items-center gap-1 text-[11px] font-bold text-slate-400 hover:text-red-500 transition-colors">
                <span class="material-symbols-outlined text-[16px]">delete</span> BORRAR
            </button>
            <span class="text-[10px] text-slate-400 ml-auto">Publicado: {{product().publicationDate | date:"EEEE, d 'de' MMMM"}}</span>
        </div>
    </div>
</div>
