<div class="dashboard-wrapper">

  <div class="summary-grid">
    @if (summary()) {
    <div class="card highlight">
      <h3>Total Publicados</h3>
      <p class="value">{{ summary()!.totalProducts }}</p>
    </div>
    <div class="card success">
      <h3>Disponibles para Regalar</h3>
      <p class="value">{{ summary()!.activeProducts }}</p>
    </div>
    } @else {
    <div class="card loading">Cargando resumen...</div>
    }
  </div>

  <div class="charts-layout">

    <div class="chart-container">
      <h4>Impacto por Categoría</h4>
      @if (rawPie().length > 0) {
      <app-chart type="pie" [data]="categoryPieData()" />
      } @else {
      <div class="placeholder">Analizando categorías...</div>
      }
    </div>


    <div class="chart-container">
      <h4>Crecimiento de Regalos (6 meses)</h4>
      @if (rawBar().length > 0) {
      <app-chart type="bar" [data]="trendsBarData()" />
      } @else {
      <div class="placeholder">Calculando tendencias...</div>
      }
    </div>

  </div>
</div>